body{
    background-image:linear-gradient(100deg,rgb(0, 153, 255),rgb(255, 0, 200));  
}

    .login{
        height: 75vh;
        width: 20vw;
        background-color: white;
        border-radius: 8px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding:0.5vh;

    }
    h1{
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 30px;
    
    }
    .form-label{
        font-size: small;
        float:left ;
        margin-left: 50px;
        
    }
    .form-control{
        font-family: Helvetica, FontAwesome, sans-serif;
        font-size: small;

    }
    .form-control:focus{
        box-shadow: none;
        outline:none;
    }
    .username{
    
        margin-right: 10px;
        float: left;
    }
    #username-input{
        width: 14vw;
        border-radius:0px ;
        border-left:white;
        border-top-color:white;
        border-right-color:white;
        border-bottom-width: 1px;
        border-bottom-right-radius:0px;
        margin-left:40px;
        margin-right: 140px;
    }
    .password{
        margin: 10px;
        float: left;
    }
    #password-input{
        width: 14vw;
        border-radius:0px;
        border-left: white;
        border-top: white;
        border-right: white;
        border-bottom-width: 1px;
        border-bottom-right-radius:0px ;
        margin-left: 40px;
        margin-right: 140px;
    }
    #forgot-password{
        text-align: right;
        margin-left: 125px;
        color: rgb(19, 18, 18);
        text-decoration: none;
    }
    .btn-grad {
        background-image: linear-gradient(to right,cyan 0%, fuchsia 45%, cyan 150%);
    }
    
    .btn-grad {
       margin: 0px;
       padding: 5px 90px;
       text-align: left;
       font-size: small;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       border-radius: 20px;
       display: block;
       border:none;
     }
     .btn-grad:hover {
        background-position:right center;
        color:white;
        text-decoration: none;
      }
     
     p{
         font-size: small;
         color: gray;
         text-align: center;
         padding:10px;
     }
     .signup{
         height:50px;
         width:120px;
         display:block;
         margin:auto;
     }
     #facebook{
         height:25px;
         margin:4px;
     }
     #twitter{
        height:25px;
        margin:4px;
    }
    #google{
        height:25px;
        margin:4px;
    }
    .signup-link{
        color:black;
        text-decoration: none;
        text-align: center;
        font-size: small;
        letter-spacing: 0.05px;
        font-weight: 400;
        padding:20px 70px;
    }

    
